.hamster-note-note {
  overflow: auto;
  width: 50%;
  height: 100%;
  .hamster-note-note-container {
    position: relative;
  }
  .hamster-note-card-container {
    position: absolute;
    &.dragging {
      z-index: 2;
      opacity: 0.5;
      cursor: grabbing;
    }
  }
  .hamster-note-card {
    user-select: none;
  }
}
