.hamster-note-reader {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    .hamster-note-reader-page {
        box-shadow: 0 0 10px #bbbbbb;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
        position: relative;
    }
    .hamster-note-reader-text {
        position: absolute;
    }
}
