// 页面间隔
$pageGap: 14px;

.hamster-note-reader {
    width: 50%;
    background-color: #eee;
    padding: $pageGap;
    .hamster-note-reader-page {
        box-shadow: 0 0 10px #bbbbbb;
        width: 100%;
        background-color: #fff;
        margin-bottom: $pageGap;
        position: relative;
    }
    .hamster-note-reader-text {
        position: absolute;
    }
}
